
platform:
  - x64

environment:
  matrix:
    - nodejs_version: "7"
    - nodejs_version: "6"
    - nodejs_version: "4"

install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - npm install

test_script:
  - npm test

build: off
